.main-heading{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.landing-page-main{
  background-image: url('../Assets/rbc.png');
  background-size: cover;
  background-position: center;
  height: 105vh;
  width: 100%;
  background-color: '#f8f9fa';
  padding-top: 85px;
  text-align: 'center';
  color: '#fff';
}

.following-line{
    font-style: oblique;
    font-size: 1.6rem;
    padding-bottom: 22px;
}