.main-heading{
    font-size: 8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.following-line{
    font-style: oblique;
    font-size: 1.6rem;
    padding-bottom: 22px;
}