nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding-left: 110px;
    padding-right: 110px;
    font-family: 'Helvetica';
}
.navbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbuttons li{
    list-style: none;
    padding: 0px 12px;
}

.navbuttons-links{
    text-decoration: none;
    font-weight: 1.1rem;
    color: black;
}

.logo{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.mainLogo{
    height: 45px;
    width: auto;
}

.title{
    font-size: 24px;
    padding: 8px;
    padding: 0px;
    margin: 0px 4px;
}
.title a{
    text-decoration: none;
    color: black;
}


#register-button{
    background-color: black;
    border: none;
    color: white;
    padding:12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 22px;
}